FilterExtension/Service References/FilterServiceReference/FilterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FilterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vaio/FilterService/FilterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vaio/FilterService/FilterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vaio/FilterService/FilterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonTypes" />
      <xsd:import schemaLocation="http://vaio/FilterService/FilterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://vaio/FilterService/FilterService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFilterService_FilterFeed_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterFeed" />
  </wsdl:message>
  <wsdl:message name="IFilterService_FilterFeed_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterFeedResponse" />
  </wsdl:message>
  <wsdl:message name="IFilterService_GetSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSources" />
  </wsdl:message>
  <wsdl:message name="IFilterService_GetSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IFilterService_RemoveSource_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSource" />
  </wsdl:message>
  <wsdl:message name="IFilterService_RemoveSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSourceResponse" />
  </wsdl:message>
  <wsdl:message name="IFilterService_AddSource_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSource" />
  </wsdl:message>
  <wsdl:message name="IFilterService_AddSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSourceResponse" />
  </wsdl:message>
  <wsdl:portType name="IFilterService">
    <wsdl:operation name="FilterFeed">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/FilterFeed" message="tns:IFilterService_FilterFeed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/FilterFeedResponse" message="tns:IFilterService_FilterFeed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSources">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/GetSources" message="tns:IFilterService_GetSources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/GetSourcesResponse" message="tns:IFilterService_GetSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/RemoveSource" message="tns:IFilterService_RemoveSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/RemoveSourceResponse" message="tns:IFilterService_RemoveSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IFilterService/AddSource" message="tns:IFilterService_AddSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFilterService/AddSourceResponse" message="tns:IFilterService_AddSource_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFilterService" type="tns:IFilterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FilterFeed">
      <soap:operation soapAction="http://tempuri.org/IFilterService/FilterFeed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSources">
      <soap:operation soapAction="http://tempuri.org/IFilterService/GetSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSource">
      <soap:operation soapAction="http://tempuri.org/IFilterService/RemoveSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSource">
      <soap:operation soapAction="http://tempuri.org/IFilterService/AddSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FilterService">
    <wsdl:port name="BasicHttpBinding_IFilterService" binding="tns:BasicHttpBinding_IFilterService">
      <soap:address location="http://vaio/FilterService/FilterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>