NewsletterExtension/Service References/NewsletterServiceReference/NewsletterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vaio/NewsletterService/NewsletterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://vaio/NewsletterService/NewsletterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfFeedItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedItem" type="tns:FeedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedItem" nillable="true" type="tns:ArrayOfFeedItem" />
  <xs:complexType name="FeedItem">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Link_x003E_k__BackingField" nillable="true" type="xs:anyURI" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="_x003C_PublishDate_x003E_k__BackingField" type="q1:DateTimeOffset" />
      <xs:element name="_x003C_Source_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Summary_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedItem" nillable="true" type="tns:FeedItem" />
</xs:schema>