NewsletterExtension/Service References/NewsletterServiceReference/NewsletterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vaio/NewsletterService/NewsletterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfFeedItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FeedItem" nillable="true" type="tns:FeedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFeedItem" nillable="true" type="tns:ArrayOfFeedItem" />
  <xs:complexType name="FeedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:anyURI" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PublishDate" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedItem" nillable="true" type="tns:FeedItem" />
</xs:schema>